.main {
  padding: 0 20px;
  height: 100%;
  display: flex;
  flex-direction: column;

  .contentWrapper {
    padding: 16px 0;
    margin-top: 4px;
    overflow-y: auto;
    flex: 1;

    :global(.ant-form-item-control-input) {
      min-height: 22px;
    }

    .imgWrapper {
      width: 88px;
      height: 88px;
      border-radius: 6px;
      background-color: rgba(245, 245, 245, 1);
      border: 1px solid rgba(0, 0, 0, 0.06);
      overflow: hidden;

      > * {
        width: 100%;
        height: 100%;
        object-fit: cover;

        img {
          object-fit: contain;
          width: 100%;
          height: 100%;
        }
      }
    }
  }
}
