.posterdownload {
  height: 100vh;
  text-align: center;
  overflow-x: hidden;
  overflow-y: scroll;
  background-color: #fff;
  padding-bottom: 50px;

  .preview {
    position: relative;
    height: 390px;
    width: 100%;

    iframe {
      width: 100%;
      height: 100%;
    }
  }

  .tip {
    font-size: 18px;
    font-weight: var(--font-semibold);
    line-height: 24px;
    margin-bottom: 32px;

    .export {
      font-size: 14px;
      line-height: 22px;
      display: flex;
      align-items: center;
      justify-content: center;
      color: var(--theme-color);
      font-weight: 400;
      margin-top: 8px;

      span {
        margin-left: 4px;
      }
    }
  }

  .loading {
    padding: 24px;

    .loadingPercent {
      font-size: 20px;
      font-weight: var(--font-semibold);
      line-height: 24px;
      color: #000;
    }

    .loadingDesc {
      margin-top: 2px;
      font-size: 12px;
      font-weight: 400;
      line-height: 20px;
      color: rgba(0, 0, 0, 0.45);
    }
  }

  .progress {
    position: relative;
    margin-top: 16px;
    background-color: #ccc;
    height: 8px;
    width: 100%;
    border-radius: 4px;

    .inner {
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      background-color: #1a87ff;
      border-radius: 4px;
    }
  }

  .share {
    padding: 16px;
    text-align: left;

    .title {
      font-size: 16px;
      font-weight: var(--font-semibold);
      line-height: 24px;
      color: #000;
    }

    .vipTip {
      font-size: 12px;
      font-weight: 400;
      line-height: 20px;
      color: rgba(0, 0, 0, 0.45);

      .vip {
        color: #faad14;
      }
    }

    .shareTypes {
      display: flex;
      align-items: center;
      gap: 12px;
      margin: 16px 0;

      .shareItem {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 0 5px;

        img {
          width: 40px;
          height: 40px;
        }

        span {
          margin-top: 8px;
          font-size: 12px;
          font-weight: 400;
          line-height: 20px;
          text-align: center;
          color: rgba(0, 0, 0, 0.6);
        }
      }
    }
  }

  .shareTip {
    // position: sticky;
    width: 100%;

    // bottom: 0;
    background-color: #fff;
    padding: 8px 0 34px;
    font-size: 12px;
    font-weight: 400;
    line-height: 20px;
    text-align: center;
    color: rgba(0, 0, 0, 0.45);

    span {
      color: var(--theme-color);
    }
  }
}
