.convertVip {
  text-align: center;

  .content {
    padding: 50px 24px 56px;
    background-color: #fff;
    border-radius: 20px;

    .tit {
      font-size: 24px;
      font-weight: var(--font-semibold);
      line-height: 32px;
      text-align: center;
      color: #000;
    }

    .desc {
      margin-top: 6px;
      font-size: 14px;
      font-weight: 400;
      line-height: 22px;
      color: rgba(0, 0, 0, 0.45);
      text-align: center;
    }

    .input {
      width: 100%;
      padding: 12px 16px;
      border: 1px solid #0000000f;
      border-radius: 6px;
      background-color: #fff;
      margin: 38px 0 24px;

      input {
        width: 100%;
        height: 22px;
        font-size: 14px;
        font-weight: 400;
        line-height: 22px;
        text-align: center;
        border: none;
        outline: none;
      }
    }
  }
}
