.waterfall {
  padding: 0 12px 24px;
  flex: 1;
  z-index: 1;
  min-height: calc(100vh - 49px - 58px - var(--safe-area-inset-top));
}

.channelContainer {
  padding: 12px;
  display: flex;
  flex-direction: column;
  gap: 8px;

  &.stickyTags {
    position: sticky;
    top: calc(var(--safe-area-inset-top) + 92px);
    z-index: 9;
    background-color: #fff;
    transform: translateY(0);
    animation: slideDown 0.1s ease-in;

    &.huiyao,
    &.xueji {
      top: 88px;
    }
  }
}

.secondLevelChannel {
  display: flex;
  align-items: center;
  overflow-x: auto;
  gap: 8px;
  // position: sticky;
  // top: var(--safe-area-inset-top);
  // z-index: 9;
  background-color: #fff;
  transition: transform 0.3s ease-in-out;
  transform: translateY(0);

  .tag {
    flex-shrink: 0;
    padding: 4px 10px;
    border-radius: 8px;
    font-weight: var(--font-semibold);
    font-size: 14px;
    line-height: 20px;
    color: #020617;
    border: 1px solid #f1f5f9;
    background-color: #f1f5f9;
    border-radius: 100px;

    &.active {
      background-color: var(--theme-background-color);
      color: var(--theme-text-color);
      border-color: var(--theme-color);
    }
  }
}

.threeLevelChannel {
  display: flex;
  align-items: center;
  overflow-x: auto;
  gap: 8px;
  // padding: 12px 12px 12px;
  background-color: #fff;
  transition: transform 0.3s ease-in-out;
  transform: translateY(0);

  .tag {
    flex-shrink: 0;
    padding: 2px 8px;
    font-weight: var(--font-semibold);
    font-size: 12px;
    line-height: 18px;
    color: #020617;
    border: 1px solid #f1f5f9;
    background-color: #f1f5f9;
    border-radius: 100px;

    &.active {
      background-color: #f4faff;
      border-color: #020617;
    }
  }
}

.templates {
  display: grid;
  gap: 8px;
  grid-template-columns: repeat(2, 1fr);
}

.empty {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 30px 0 0;

  img {
    width: 200px;
  }

  span {
    font-family: PingFang SC;
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;
    letter-spacing: 0px;
    text-align: center;
    color: rgba(0, 0, 0, 0.45);
  }

  .recommend {
    width: 100%;
    display: flex;
    align-items: center;
    gap: 12px;
    margin: 46px 0 16px;

    .line {
      flex: 1;
      background-color: #ffe9ed;
      height: 1px;
    }

    span {
      font-weight: var(--font-semibold);
      font-size: 14px;
      line-height: 22px;
      color: #000;
    }
  }
}

.filter {
  position: fixed;
  bottom: 70px;
  left: 50%;
  transform: translateX(-50%);
  height: 36px;
  width: 130px;
  // padding: 0 20px;
  gap: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
  box-shadow: 0px 2px 20px 0px #00000040;
  border: 1px solid #ffffff;
  background-color: #fff;
  z-index: 9;

  &.active {
    border: 1px solid #fff3f6;
    background-color: var(--theme-background-color);
    color: var(--theme-color);

    span {
      color: var(--theme-text-color);
    }
  }

  iconpark-icon {
    color: var(--theme-text-color) !important;
  }

  span {
    font-weight: var(--font-semibold);
    font-size: 12px;
    line-height: 20px;
    color: rgba(0, 0, 0, 0.88);
  }

  .count {
    width: 14px;
    height: 14px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: PingFang SC;
    font-weight: 400;
    font-size: 10px;
    line-height: 100%;
    color: var(--btn-text-color);
    background-color: var(--theme-color);
    border-radius: 50%;
  }
}

.filterPanel {
  .title {
    padding: 12px 16px;
    font-weight: var(--font-semibold);
    font-size: 18px;
    line-height: 26px;
    text-align: center;
  }

  .close {
    position: absolute;
    top: 16px;
    right: 16px;
  }

  .facets {
    padding: 0 16px 16px;
  }

  .label {
    font-family: PingFang SC;
    font-weight: var(--font-semibold);
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0px;
    vertical-align: middle;
    color: rgba(0, 0, 0, 0.88);
    margin-bottom: 8px;
  }

  .choices {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: wrap;
    gap: 8px;

    .choiceItem {
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 6px 12px;
      border-radius: 100px;
      background: #f5f5f5;
      // margin: 4px;
      cursor: pointer;
      transition: all 0.2s ease;
      font-size: 14px;
      color: #666;
      font-weight: var(--font-semibold);
      border: 1px solid #f5f5f5;

      &.huiyao {
        color: #09090b;
      }

      &.active {
        background: var(--theme-background-color);
        color: var(--theme-text-color);
        font-weight: var(--font-semibold);
        border: 1px solid var(--theme-color);
      }
    }
  }
}

@keyframes slideDown {
  from {
    transform: translateY(-100%);
    opacity: 0;
  }

  to {
    transform: translateY(0);
    opacity: 1;
  }
}
