.container {
  .viewer {
    position: relative;
    width: 100%;
    height: calc(100vh - 52px - 44px);
    height: calc(100dvh - 52px - 44px);
    overflow: hidden;

    iframe {
      width: 100%;
      height: 100%;
    }

    &.hide {
      position: absolute;
      opacity: 0;
      z-index: -9;
    }
  }

  .footer {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 4px;
    display: flex;
    align-items: center;
    background-color: #fff;
    gap: 8px;

    .iconBtn {
      flex: 1;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      width: 36px;

      span {
        font-size: 12px;
        font-weight: 400;
        line-height: 20px;
        color: rgba(0, 0, 0, 0.6);
      }
    }
  }
}

.menu {
  padding: 16px;

  .title {
    font-family: PingFang SC;
    font-size: 16px;
    font-weight: var(--font-semibold);
    line-height: 24px;
    text-align: center;
    color: rgba(0, 0, 0, 0.88);
    margin-bottom: 8px;
  }

  .menuItem {
    height: 56px;
    font-size: 16px;
    font-weight: 400;
    line-height: 56px;
    text-align: center;
    color: rgba(0, 0, 0, 0.88);
    border-bottom: 1px solid #0000000f;

    &.delete {
      color: #cf1322;
    }

    &:last-child {
      margin-bottom: 0;
    }
  }

  .btn {
    margin-top: 16px;
    height: 48px;
    width: 100%;
    font-size: 16px;
    font-weight: 400;
    line-height: 48px;
    text-align: center;
    color: rgba(0, 0, 0, 0.88);
    border-radius: 100px;
    border: 1px solid #0000000f;
  }
}
