.filter {
  padding: 0 0 8px;
  position: relative;
  background-color: #fff;

  .filterBar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 4px 0;

    .filterItem {
      display: flex;
      align-items: center;
      color: #01070d33;
      font-size: 14px;
      font-weight: 400;
      line-height: 22px;

      span {
        color: rgba(1, 7, 13, 0.8);
        margin-right: 4px;
      }

      &.active {
        color: var(--theme-color);

        span {
          color: var(--theme-color);
        }
      }
    }
  }

  .filterPanel {
    position: absolute;
    top: 99%;
    left: 0;
    right: 0;
    padding: 4px 0 0;
    background-color: #fff;
    z-index: 9;
    overflow: hidden;
    overscroll-behavior: none;

    .tit {
      color: #000;
      font-size: 14px;
      font-weight: var(--font-semibold);
      line-height: 22px;
      margin-bottom: 12px;
      padding: 0 16px;
    }

    .list {
      display: flex;
      flex-wrap: wrap;
      max-height: 40vh;
      overflow-y: auto;
      overscroll-behavior: contain;
      padding: 0 16px;

      .colorItem {
        position: relative;
        width: 32px;
        height: 32px;
        border: 1px solid rgba(0, 0, 0, 0.06);
        margin-right: 12px;
        margin-bottom: 12px;
        border-radius: 2px;

        .active {
          // width: 24px;
          // height: 24px;
          position: absolute;
          left: 0;
          right: 0;
          bottom: 0;
          top: 0;
          display: flex;
          align-items: center;
          justify-content: center;
          color: #fff;
        }
      }

      .listItem {
        width: calc(25% - 9px);
        flex-shrink: 0;
        height: 34px;
        // padding: 0 8px;
        margin-right: 12px;
        margin-bottom: 8px;
        display: inline-block;
        border-radius: 4px;
        background-color: #fafafa;
        color: rgba(0, 0, 0, 0.88);
        font-size: 14px;
        font-weight: 400;
        line-height: 34px;
        text-align: center;
        white-space: nowrap;

        &.active {
          color: #1a87ff;
          font-weight: var(--font-semibold);
          background-color: #e6f4ff;
          // background: var(--theme-color);
        }

        &:nth-child(4n) {
          margin-right: 0;
        }
      }
    }

    .order {
      .orderItem {
        height: 46px;
        width: 100%;
        text-align: center;
        color: #333;
        text-align: center;
        font-size: 14px;
        font-weight: 400;
        line-height: 46px;

        &.active {
          color: var(--theme-color);
          font-weight: var(--font-semibold);
        }
      }
    }
  }

  .overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 8;
    overscroll-behavior: none;
  }
}
