.main {
  padding: 0 12px;
  height: 100%;
  display: flex;
  flex-direction: column;
  row-gap: 12px;

  @media (min-width: 768px) {
    padding: 0 20px;
    row-gap: 16px;
  }

  .primaryColor {
    color: rgba(21, 94, 239, 1);
    font-weight: var(--font-semibold);
    margin: 0 2px;
  }

  .header {
    padding: 12px 0;
    box-shadow: 0 -1px 0 0 inset rgba(0, 0, 0, 0.06);
    font-size: 16px;
    font-weight: var(--font-semibold);
    line-height: 24px;

    @media (min-width: 768px) {
      font-size: 14px;
    }
  }

  .content {
    display: flex;
    flex-direction: column;
    row-gap: 12px;

    @media (min-width: 768px) {
      row-gap: 16px;
    }

    .tipsBlock {
      padding: 12px 16px;
      display: flex;
      flex-direction: column;
      row-gap: 8px;
      color: rgba(60, 60, 61, 1);
      background-color: rgba(239, 248, 255, 1);
      border-radius: 4px;

      @media (min-width: 768px) {
        padding: 16px 20px;
        border-radius: 0;
      }

      .tipsTitle {
        font-size: 14px;
        font-weight: var(--font-semibold);
        line-height: 22px;
        color: rgba(0, 0, 0, 0.88);
      }

      .tipsContent {
        color: rgba(0, 0, 0, 0.6);
        font-size: 13px;
        font-weight: 400;
        line-height: 20px;

        @media (min-width: 768px) {
          font-size: 14px;
          line-height: 24px;
        }
      }
    }

    .btnRow {
      display: flex;
      flex-direction: column;
      row-gap: 8px;
      align-items: stretch;

      @media (min-width: 768px) {
        flex-direction: row;
        align-items: center;
        column-gap: 12px;
      }

      .btnTips {
        font-size: 13px;
        font-weight: 400;
        line-height: 20px;
        color: rgba(0, 0, 0, 0.45);
        text-align: center;

        @media (min-width: 768px) {
          font-size: 14px;
          line-height: 22px;
          text-align: left;
        }
      }
    }
  }
}

.modalContent {
  width: 100%;
  max-width: 100vw;
  height: auto;

  .header {
    padding: 16px;
    color: rgba(1, 7, 13, 0.8);
    font-size: 16px;
    font-weight: var(--font-semibold);
    line-height: 24px;

    display: flex;
    justify-content: space-between;
    align-items: center;

    box-shadow: 0px -1px 0px 0px rgba(236, 238, 240, 1) inset;
  }

  .content {
    padding: 20px 16px;
    display: flex;
    flex-direction: column;
    row-gap: 16px;
    align-items: stretch;

    @media (min-width: 768px) {
      padding: 40px 50px;
      row-gap: 20px;
      align-items: center;
    }

    .piao {
      width: 100%;
      min-height: 80px;
      background-color: rgba(211, 236, 253, 1);
      border-radius: 6px;
      display: flex;
      align-items: center;
      column-gap: 12px;
      padding: 16px;
      color: rgba(0, 0, 0, 1);
      font-size: 14px;
      font-weight: 400;
      line-height: 22px;
      cursor: pointer;

      @media (min-width: 768px) {
        width: 300px;
        height: 80px;
        padding: 0;
        column-gap: 16px;
        font-size: 16px;
        line-height: 24px;
      }

      .head {
        width: 60px;
        height: 60px;
        flex-shrink: 0;
        border-right: 2px dotted rgba(0, 0, 0, 0.06);
        display: flex;
        justify-content: center;
        align-items: center;

        @media (min-width: 768px) {
          width: 80px;
          height: 100%;
        }
      }
    }

    .bg2 {
      background-color: rgba(255, 250, 193, 1);
    }
  }

  .closeBtn {
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2px;
  }

  :global(.ant-modal-confirm-paragraph) {
    max-width: 100%;
  }

  :global(.ant-modal-confirm-btns) {
    margin-top: 0;
  }
}
