.preview {
  width: 100vw;
  height: 100vh;
  height: 100dvh;
  display: flex;
  flex-direction: column;
  background-color: #000;

  .videoContainer {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1;
  }

  .footer {
    flex-shrink: 0;
    padding: 16px;
  }
}
