.menus {
  border: 1px solid #e4e4e7;
  border-radius: 10px;

  .menusTitle {
    padding: 12px 16px 8px;
    font-family: PingFang SC;
    font-weight: var(--font-semibold);
    font-size: 16px;
    line-height: 24px;
    color: #09090b;
  }

  .menuItem {
    padding: 12px 16px;
    display: flex;
    align-items: center;
    gap: 12px;
    border-bottom: 1px solid #e4e4e7;

    &:last-child {
      border-bottom: none;
    }

    iconpark-icon {
      color: #71717a !important;
    }

    .tit {
      font-weight: var(--font-semibold);
      font-size: 14px;
      line-height: 20px;
      color: #09090b;
    }

    .desc {
      font-family: PingFang SC;
      font-weight: 400;
      font-size: 12px;
      line-height: 18px;

      color: #00000099;
    }

    .red {
      color: #ef4444 !important;
    }

    .loginid {
      border: 1px solid #e4e4e7;
      border-radius: 100px;
      height: 22px;
      padding: 0 8px;
      font-family: PingFang SC;
      font-weight: var(--font-semibold);
      font-size: 12px;
      line-height: 22px;
      text-align: center;
      color: #09090b;
    }
  }
}
