.mk_gift_container {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
  pointer-events: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  canvas {
    // position: absolute;
    // top: 0;
    width: 100%;
    // height: 100%;
  }

  .gift_message {
    position: absolute;
    bottom: 0;
    left: 12px;
    height: 42px;
    background: linear-gradient(
      92.49deg,
      #ff2963 14.42%,
      rgba(255, 41, 99, 0) 91.17%
    );
    border-radius: 100px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 4px;
    gap: 8px;
    padding-right: 80px;
    animation: slideInFadeOut 3s forwards;
    z-index: 1;

    .gift_logo {
      width: 34px;
      height: 34px;
      border-radius: 50%;
      overflow: hidden;
    }

    .gift_message_content {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: center;

      .name {
        font-weight: 600;
        font-size: 13px;
        line-height: 20px;
        letter-spacing: 0%;
        color: #fff;
      }

      .label {
        font-weight: 400;
        font-size: 10px;
        line-height: 100%;
        color: #fff;
        text-align: left;
      }
    }

    .gift_preview {
      position: absolute;
      right: 16px;
      bottom: 0;
      width: 60px;
      height: 60px;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
  }

  @keyframes slideInFadeOut {
    0% {
      transform: translateX(-100%);
      opacity: 0;
    }

    10% {
      transform: translateX(0);
      opacity: 1;
    }

    80% {
      transform: translateX(0);
      opacity: 1;
    }

    100% {
      transform: translateX(0);
      opacity: 0;
    }
  }
}

.mk_gift_overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  pointer-events: auto;
}

.mk_gift_list {
  position: fixed;
  pointer-events: auto;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  height: 45vh;
  height: 45dvh;
  min-height: 300px;
  border-radius: 20px 20px 0 0;
  background-color: #fff;
  // padding: 16px;
  display: flex;
  flex-direction: column;
  z-index: 32;

  .title {
    font-family: PingFang SC;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0%;
    text-align: center;
    vertical-align: middle;
    color: rgba(0, 0, 0, 0.88);
    margin: 16px 0;
  }

  .close {
    position: absolute;
    right: 20px;
    top: 20px;
    width: 20px;
    height: 20px;

    img {
      width: 100%;
      height: 100%;
    }
  }

  .gift_list {
    flex: 1;
    overflow-y: auto;
    overscroll-behavior: contain;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 8px;
    padding: 16px;

    .gift_item {
      display: flex;
      flex-direction: column;
      align-items: center;
      height: fit-content;
      padding: 4px 3px;
      border-radius: 8px;
      border: 2px solid #fff;

      .gift_preview {
        width: 100%;
        aspect-ratio: 1;
        object-fit: cover;
        border-radius: 4px;
      }

      .gift_name {
        margin-top: 8px;
        font-weight: 400;
        font-size: 13px;
        line-height: 20px;
        letter-spacing: 0%;
        text-align: center;
        color: rgba(0, 0, 0, 0.88);
      }

      &.active {
        border: 2px solid hsl(var(--primary));
        pointer-events: none;
        background-color: #fff8f9;
      }
    }
  }

  .gift_list_footer {
    padding: 12px 16px 8px;
    border-top: 1px solid #0000000f;
    gap: 8px;

    .name_input {
      background-color: #fff;
      height: 48px;
      border-radius: 8px;
      text-align: center;
      width: 100%;
      border: 1px solid #ff91ad;
      margin-bottom: 8px;
    }

    .gift_btn {
      width: 100%;
      height: 48px;
      background-color: hsl(var(--primary));
      color: hsl(var(--primary-btn));
      border-radius: 8px;
      line-height: 48px;
      text-align: center;
      color: #fff;
      font-size: 16px;
    }
  }
}
