.templateFloor {
  padding: 0 16px 12px;

  .floorTitle {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 8px;

    .title {
      font-size: 16px;
      font-weight: var(--font-semibold);
      line-height: 24px;
      color: rgba(0, 0, 0, 0.88);
    }
  }

  .floorTags {
    display: flex;
    align-items: center;
    overflow-x: auto;
    gap: 8px;
    margin-bottom: 8px;

    .tag {
      flex-shrink: 0;
      padding: 4px 12px;
      border: 1px solid rgba(0, 0, 0, 0.06);
      border-radius: 100px;
      font-weight: var(--font-semibold);
      font-size: 12px;
      line-height: 20px;
      color: rgba(0, 0, 0, 0.88);

      &.active {
        border: 1px solid rgba(0, 0, 0, 0.88);
        color: #000;
      }
    }
  }

  .templateList {
    position: relative;
    min-height: 100px;

    .scrollList {
      display: grid;
      gap: 8px;
    }

    .loading {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      display: flex;
      align-content: center;
      justify-content: center;
      background-color: rgba(255, 255, 255, 0.8);
      padding: 16px;
    }
  }

  .more {
    margin-top: 8px;
    height: 32px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgba(0, 0, 0, 0.88);
    cursor: pointer;
    background-color: #f5f5f5;
    border-radius: 6px;

    span {
      font-size: 12px;
      font-weight: 400;
      line-height: 20px;
    }
  }
}
