.waterfall {
  padding: 0 16px;
}

.floorTabs {
  display: flex;
  align-items: flex-start;
  overflow-x: auto;
  padding: 0 0 8px;
  gap: 24px;
  overflow-y: auto;

  .tabItem {
    flex-shrink: 0;
    font-weight: 6400;
    font-size: 16px;
    line-height: 24px;
    color: rgba(0, 0, 0, 0.45);
    height: 30px;

    &.active {
      position: relative;
      color: #000;
      font-weight: var(--font-semibold);
      font-size: 16px;
      line-height: 24px;
      pointer-events: none;

      &::after {
        content: '';
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        bottom: 0;
        border-radius: 100px;
        background-color: var(--theme-color);
        width: 16px;
        height: 4px;
      }
    }
  }
}

.floorTags {
  display: flex;
  align-items: center;
  overflow-x: auto;
  gap: 8px;
  margin-bottom: 12px;

  .tag {
    padding: 4px 12px;
    border: 1px solid rgba(0, 0, 0, 0.06);
    border-radius: 100px;
    font-weight: var(--font-semibold);
    font-size: 12px;
    line-height: 20px;
    color: rgba(0, 0, 0, 0.88);

    &.active {
      border: 1px solid rgba(0, 0, 0, 0.88);
      color: #000;
    }
  }
}

.templates {
  display: grid;
  gap: 8px;
  grid-template-columns: repeat(3, 1fr);

  .templateItem {
    position: relative;
    aspect-ratio: 109/160;
    border-radius: 8px;
    border: 1px solid #0000000a;
    overflow: hidden;

    .cover {
      object-fit: cover;
      height: 100%;
    }

    .name {
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      background: linear-gradient(
        180deg,
        rgba(29, 29, 29, 0) 0%,
        rgba(29, 29, 29, 0.5) 100%
      );
      height: 36px;
      padding: 12px 0 4px;
      font-weight: var(--font-semibold);
      font-size: 12px;
      line-height: 20px;
      text-shadow: 0px 2px 2px 0px #00000066;
      color: #fff;
      text-align: center;
    }
  }
}
