.share {
  --bg-overlay-color: rgba(0, 0, 0, 0.45);
  position: relative;
  height: 100vh;
  background-color: #fff;
  border-bottom: 1px solid #0000000f;

  .main {
    padding: 16px;
  }

  .preview {
    color: var(--theme-color);
    background-color: var(--theme-background-color);
  }

  .title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 16px;
    font-weight: var(--font-semibold);
    line-height: 24px;
    color: #000;
    margin-bottom: 12px;
  }

  .input {
    font-size: 14px;
  }

  .shareContent {
    display: flex;
    align-items: center;
    margin-top: 12px;

    .textarea {
      font-size: 14px;
      margin-left: 8px;
      height: 72px;

      textarea {
        min-height: 56px;
      }
    }
  }

  .shareImg {
    flex-shrink: 0;
    position: relative;
    width: 72px;
    height: 72px;
    border-radius: 8px;
    overflow: hidden;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    .btn {
      pointer-events: none;
      padding-top: 2px;
      background: rgba(0, 0, 0, 0.6);
      height: 24px;
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      font-size: 12px;
      line-height: 20px;
      text-align: center;
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box;
      color: white;
    }

    .upload {
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
    }
  }

  .shareTypes {
    display: flex;
    align-items: center;
    gap: 12px;

    .shareItem {
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 0 5px;

      img {
        width: 40px;
        height: 40px;
      }

      span {
        margin-top: 8px;
        font-size: 12px;
        font-weight: 400;
        line-height: 20px;
        text-align: center;
        color: rgba(0, 0, 0, 0.6);
      }
    }
  }

  .shareTip {
    position: absolute;
    width: 100%;
    left: 0;
    right: 0;
    bottom: 34px;
    font-size: 12px;
    font-weight: 400;
    line-height: 20px;
    text-align: center;
    color: rgba(0, 0, 0, 0.45);

    span {
      color: var(--theme-color);
    }
  }

  .downloadTip {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--theme-background-color);
    border-radius: 6px;
    padding: 8px 12px;
    font-size: 13px;
    font-weight: 400;
    line-height: 20px;
    margin-top: 24px;

    .num {
      font-size: 12px;
      font-weight: 400;
      line-height: 20px;
      color: var(--theme-color);
    }

    .btn {
      padding: 4px 12px;
      background-color: var(--theme-color);
      color: #fff;
      border-radius: 6px;
    }
  }

  &.preschool {
    .preview {
      border-radius: 100px;
    }

    .downloadTip {
      .btn {
        border-radius: 100px;
      }
    }
  }

  &.education {
    .preview {
      color: rgba(0, 0, 0, 0.88);
      background-color: var(--btn-text-color);
      border-radius: 100px;
      padding: 4px 19px;
      font-size: 14px;
      line-height: 22px;
    }

    .downloadTip {
      border: 1px solid #0000000f;
      box-shadow: 0px 0px 12px 0px #0000000a;
      border-radius: 100px;

      .btn {
        color: rgba(0, 0, 0, 0.88);
        background-color: var(--btn-text-color);
        border-radius: 100px;
      }
    }
  }
}

.sharePreview {
  display: flex;
  justify-content: space-between;
  padding: 16px;
  background-color: #f5f5f5;
  width: 320px;
  border-radius: 4px;

  .avatar {
    flex-shrink: 0;
  }

  .previewWechat {
    padding: 12px;
    background-color: #fff;
    flex: 1;
    margin-right: 18px;

    .title {
      display: flex;
      font-size: 16px;
      font-weight: 400;
      line-height: 22px;
      margin-bottom: 8px;
      color: #000;
      overflow: hidden;
      text-overflow: ellipsis;
      display: -webkit-box;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 2;
    }

    .info {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }

    .content {
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 3;
      color: #7d7e80;
      display: -webkit-box;
      flex: 1 1 auto;
      font-size: 12px;
      font-weight: 400;
      line-height: 16px;
      margin-right: 16px;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }

  .img {
    flex-shrink: 0;
    width: 46px;
    height: 46px;
    border-radius: 2px;
    overflow: hidden;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}
