.template {
  padding-bottom: 80px;
  overflow-y: auto;
  height: 100%;
  background-color: #fff;
}

.h5Detail {
  position: relative;
  overflow: hidden;

  .switch {
    position: fixed;
    top: 64px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    align-items: center;
    background-color: #fff;
    border-radius: 100px;
    z-index: 9;

    &::after {
      content: '';
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      border: 1px solid rgba(0, 0, 0, 0.06);
      border-radius: 100px;
      pointer-events: none;
    }

    .item {
      display: flex;
      align-items: center;
      padding: 6px 12px;
      font-weight: 500;
      font-size: 14px;
      line-height: 22px;
      color: rgba(0, 0, 0, 0.88);
      background-color: #fff;
      border-radius: 100px;

      &.active {
        color: #fff;
        background-color: #1a87ff;
        z-index: 1;
      }
    }
  }

  .viewer {
    position: relative;
    width: 100%;
    // height: calc(100vh - 44px - var(--safe-area-inset-top));
    height: calc(100vh - 44px);
    overflow: hidden;

    iframe {
      width: 100%;
      height: 100%;
    }

    &.hide {
      position: absolute;
      opacity: 0;
      z-index: -9;
    }
  }
}

.templateDetail {
  padding: 16px;
}

.similarTemplate {
  padding: 12px;
  // overflow-y: auto;
  // height: 100%;

  &.hide {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    opacity: 0;
    z-index: -9;
  }
}

.preview {
  width: 100%;
  height: auto;
  padding-bottom: 16px;

  img {
    width: 100%;
    border-radius: 6px;
    margin-bottom: 16px;

    &:last-child {
      margin-bottom: 0;
    }
  }
}

.title {
  font-weight: var(--font-semibold);
  font-size: 16px;
  line-height: 24px;
  color: #000000;
  padding: 0 0 8px;
}

.info {
  display: flex;
  align-items: center;
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;

  .spec {
    color: rgba(0, 0, 0, 0.6);
  }

  .price {
    color: #ff3633;
    margin-left: 8px;
    margin-right: 12px;
  }

  .vip {
    display: flex;
    align-items: center;
    padding: 1px 6px;
    font-weight: 400;
    font-size: 12px;
    line-height: 20px;
    margin-left: 8px;
    color: #735722;
    background: linear-gradient(90deg, #fee9c1 0%, #f5cc82 100%);
    border-radius: 4px;
  }
}

.btn {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  padding: 16px;
  background-color: #fff;
  z-index: 9;

  .action {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 44px;
    flex-shrink: 0;

    span {
      font-weight: 400;
      font-size: 12px;
      line-height: 20px;
      color: rgba(0, 0, 0, 0.6);
    }
  }

  .edit {
    margin-left: 16px;
    width: 100%;
  }

  &.h5Btn {
    position: static;
    background-color: transparent;

    .icon {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 32px;
      height: 32px;
      // background-color: #fff;
    }

    span {
      color: #fff;
      font-size: 12px;
      font-weight: 400;
      line-height: 20px;
    }
  }
}

.h5Info {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  background: linear-gradient(
    180deg,
    rgba(0, 0, 0, 0) 0%,
    rgba(0, 0, 0, 0.6) 100%
  );
  z-index: 9;

  .info {
    width: fit-content;
    margin-left: 16px;
    padding: 4px 8px;
    background-color: rgba(0, 0, 0, 0.6);
    border-radius: 4px;

    .spec {
      font-weight: 400;
      font-size: 14px;
      line-height: 22px;
      color: #fff;
    }
  }
}

.nav {
  position: sticky;
  top: 0;
  z-index: 9;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 44px;
  padding-left: 16px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.06);
  background-color: #fff;

  & > span {
    font-weight: var(--font-semibold);
    font-size: 16px;
    line-height: 24px;
    color: rgba(0, 0, 0, 0.88);
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    padding-left: 8px;
  }
}

.share {
  --bg-overlay-color: rgba(0, 0, 0, 0.6);
}

.sharePopup {
  background-color: #fff !important;
  border-radius: 4px 4px 0 0;

  .shareTypes {
    display: flex;
    align-items: center;
    gap: 16px;
    padding: 24px 16px 44px;

    .shareItem {
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 0 5px;

      img {
        width: 40px;
        height: 40px;
      }

      span {
        margin-top: 8px;
        font-size: 12px;
        font-weight: 400;
        line-height: 20px;
        text-align: center;
        color: rgba(0, 0, 0, 0.6);
      }
    }
  }
}
