.layout {
  display: flex;
  flex-direction: column;
  height: 100%;
  .breadcrumbWrapper {
    flex: 0 0 auto;
    padding: 12px 0;
    margin: 0 20px;
    box-shadow: 0 -1px 0 0 rgba(0, 0, 0, 0.06) inset;
    .breadcrumbItem {
      color: rgba(165, 166, 167, 1);
      font-size: 14px;
      line-height: 24px;

      display: flex;
      align-items: center;
      column-gap: 4px;

      cursor: pointer;

      &.current {
        color: rgba(60, 60, 61, 1);
        cursor: text;
      }
    }
  }

  .content {
    flex: 1;
    overflow: hidden;
  }
}
