.main {
  display: flex;
  flex-direction: column;
  row-gap: 12px;
  padding: 0 12px;

  @media (min-width: 768px) {
    row-gap: 16px;
    padding: 0;
  }

  .tipsBlock {
    padding: 12px 16px;
    display: flex;
    flex-direction: column;
    row-gap: 8px;
    color: rgba(60, 60, 61, 1);
    background-color: rgba(239, 248, 255, 1);
    border-radius: 4px;

    @media (min-width: 768px) {
      padding: 16px 20px;
      border-radius: 0;
    }

    .tipsTitle {
      font-size: 14px;
      font-weight: var(--font-semibold);
      line-height: 22px;
      color: rgba(0, 0, 0, 0.88);
    }

    .tipsContent {
      color: rgba(0, 0, 0, 0.6);
      font-size: 13px;
      font-weight: 400;
      line-height: 20px;

      @media (min-width: 768px) {
        font-size: 14px;
        line-height: 24px;
      }
    }
  }

  .emptyWrapper {
    padding: 40px 0;
    display: flex;
    flex-direction: column;
    row-gap: 12px;
  }

  .cellStatus {
    display: flex;
    align-items: center;
    font-size: 13px;

    @media (min-width: 768px) {
      font-size: 14px;
    }

    &::before {
      content: '';
      margin-right: 4px;
      width: 6px;
      height: 6px;
      border-radius: 50%;
    }

    &.pass {
      &::before {
        display: inline-block;
        background-color: rgba(82, 196, 26, 1);
      }
    }

    &.process {
      &::before {
        display: inline-block;
        background-color: #ff8818;
      }
    }

    &.reject {
      &::before {
        display: inline-block;
        background-color: rgba(245, 34, 45, 1);
      }
    }
  }

  .optsCell {
    display: flex;
    flex-wrap: wrap;
    gap: 4px;

    .optsBtn {
      padding-left: 6px;
      padding-right: 6px;
      font-size: 13px;

      @media (min-width: 768px) {
        font-size: 14px;
      }

      &:first-child {
        padding-left: 0;
      }

      &:last-child {
        padding-right: 0;
      }

      &.disabled {
        // color:
      }
    }

    .effectiveBtn {
      color: rgba(21, 94, 239, 1);
    }
  }
}
