.tools {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 16px;
  gap: 8px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  z-index: 19;
  background: linear-gradient(
    180deg,
    rgba(0, 0, 0, 0) 0%,
    rgba(0, 0, 0, 0.6) 100%
  );

  .receipt {
    display: flex;
    align-items: center;
    height: 46px;
    padding: 12px 20px;
    font-weight: 600;
    font-size: 14px;
    line-height: 22px;
    background: #ff4667;
    border-radius: 100px;

    span {
      font-family: PingFang SC;
      font-weight: 400;
      font-size: 13px;
      line-height: 20px;
      color: #fff;
      white-space: nowrap;
    }

    img {
      width: 20px;
      height: 20px;
    }
  }

  .comment {
    margin: 8px 0 16px;
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    background-color: rgba(0, 0, 0, 0.45);
    height: 36px;
    // width: 40px;
    padding: 0 12px;
    border-radius: 1000px;
    gap: 4px;

    img {
      width: 20px;
      height: 20px;
    }

    span {
      font-family: PingFang SC;
      font-weight: 400;
      font-size: 13px;
      line-height: 20px;
      color: #fff;
      white-space: nowrap;
    }
  }

  .btn {
    margin: 8px 0 16px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.45);
    height: 36px;
    width: 36px;
    border-radius: 1000px;
    display: flex;
    align-items: center;
    justify-content: center;

    img {
      width: 16px;
      height: 16px;
    }

    span {
      font-family: PingFang SC;
      font-weight: 400;
      font-size: 10px;
      line-height: 16px;
      color: #fff;
    }
  }
}

.dialog {
  position: relative;
  width: 100%;
  pointer-events: auto;
  z-index: 11;

  .success_content {
    padding: 24px;
    border-radius: 16px;
    max-height: 80vh;
    overflow-y: auto;

    .submit_success {
      display: flex;
      flex-direction: column;
      align-items: center;

      .tit {
        font-family: Inter;
        font-weight: 500;
        font-size: 14px;
        line-height: 21px;
        text-align: center;
        color: #000;
        margin-bottom: 7px;
      }

      .desc {
        font-family: Inter;
        font-weight: 400;
        font-size: 14px;
        line-height: 21px;
        text-align: center;
        color: #717182;
        margin-bottom: 14px;
      }

      img {
        height: 94px;
        object-fit: contain;
        margin-bottom: 14px;
      }

      span {
        font-family: PingFang SC;
        font-weight: 600;
        font-size: 14px;
        line-height: 22px;
        letter-spacing: 0px;
        text-align: center;
        color: rgba(0, 0, 0, 0.88);
      }
    }
  }

  .resubmit {
    width: 100%;
    height: 32px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    font-family: PingFang SC;
    font-weight: 500;
    font-size: 12px;
    line-height: 32px;
    text-align: center;
    color: #0a0a0a;
  }

  .contentV2 {
    display: flex;
    flex-direction: column;
    gap: 14px;

    .fieldItem {
      display: flex;
      // align-items: center;
      flex-direction: column;

      .label {
        font-weight: 600;
        font-size: 14px;
        line-height: 22px;
        color: #000;
        margin-bottom: 7px;

        .required {
          color: #ff4d4f;
          margin-left: 10px;
        }
      }

      .input {
        flex: 1;
        font-family: PingFang SC;
        font-weight: 400;
        font-size: 14px;
        line-height: 32px;
        color: #000;
        outline: none;
        border: 1px solid var(--theme-color);
        border-radius: 6px;
        padding: 0 8px;

        &::placeholder {
          color: currentColor;
          opacity: 0.6;
        }
      }

      .course_item {
        display: flex;
        align-items: center;
        gap: 12px;

        span {
          font-weight: 400;
          font-size: 14px;
          line-height: 22px;
          color: #000;
        }
      }
    }

    .number_input_container {
      display: flex;
      align-items: center;
      gap: 16px;

      .number_input_icon {
        width: 18px;
        height: 18px;

        iconpark-icon {
          color: var(--theme-color) !important;
        }

        &.disabled {
          pointer-events: none;

          iconpark-icon {
            opacity: 0.4;
            color: #333 !important;
          }
        }
      }

      .number_input {
        font-family: PingFang SC;
        font-weight: 400;
        font-size: 14px;
        line-height: 22px;
        letter-spacing: 0px;
        color: #000;
      }
    }
  }
}
