.search {
  width: 100%;
  flex: 1;

  .searchWrap {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 3px;
    padding-left: 16px;
    background-color: #fff;
    border-radius: 100px;
    border: 1.5px solid var(--theme-color);

    &.disabled {
      pointer-events: none;
    }
  }

  .searchInput {
    flex: 1 1 auto;
    margin-left: 4px;
    color: rgba(0, 0, 0, 0.88);
    font-size: 14px;
    line-height: 22px;
    border: none;
    outline: none;
    overflow: hidden;
  }

  .searchButton {
    flex-shrink: 0;
    height: 32px;
    width: 60px;
    color: #fff;
    font-weight: var(--font-semibold);
    font-size: 14px;
    text-align: center;
    line-height: 32px;
    border-radius: 100px;
    background: linear-gradient(
      135deg,
      var(--theme-color) 0%,
      var(--theme-color) 54.34%,
      var(--theme-color) 100%
    );
  }

  .option_list {
    position: absolute;
    // bottom: 0;
    top: 100%;
    left: 0;
    right: 0;
    border-radius: 8px;
    background-color: #fff;
    z-index: 9;
    filter: drop-shadow(0px 0px 30px rgba(1, 1, 1, 0.2));

    .option_item {
      display: flex;
      align-items: center;
      padding: 8px 16px;
      border-bottom: 0.5px solid #e6e6e6;

      span {
        margin-left: 8px;
      }
    }
  }
}
