.embla {
  max-width: 375px;
  margin: auto;
  --slide-height: 210px;
  --slide-spacing: 10px;
  --slide-v2-size: 74%;
  display: flex;
  flex-direction: column;
  height: 210px;
  position: relative;
}
.embla__viewport {
  overflow: hidden;
  flex: 1;
}
.embla__container {
  display: flex;
  touch-action: pan-y pinch-zoom;
  margin-left: calc(var(--slide-spacing) * -1);
  height: 100%;
}
.embla__slide {
  position: relative;
  transform: translate3d(0, 0, 0);
  flex: 0 0 var(--slide-v2-size);
  min-width: 0;
  padding-left: var(--slide-spacing);
}

.embla__slide__img {
  border-radius: 8px;
  display: block;
  height: var(--slide-height);
  width: 100%;
  object-fit: cover;
}
.embla__controls {
  max-width: 100%;
  display: flex;
  justify-content: center;
  /* grid-template-columns: auto 1fr; */
  /* justify-content: space-between; */
  gap: 1.2rem;
  margin-top: 1.8rem;
  position: absolute;
  bottom: -36px;
  right: 0;
  left: 0;
  /* background-color: rgba(255,255,255,0.8); */
}
.embla__buttons {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 0.6rem;
  align-items: center;
}
.embla__button {
  -webkit-tap-highlight-color: rgba(var(--text-high-contrast-rgb-value), 0.5);
  -webkit-appearance: none;
  appearance: none;
  background-color: transparent;
  touch-action: manipulation;
  display: inline-flex;
  text-decoration: none;
  cursor: pointer;
  border: 0;
  padding: 0;
  margin: 0;
  width: 3.6rem;
  height: 3.6rem;
  z-index: 1;
  border-radius: 50%;
  color: var(--text-body);
  display: flex;
  align-items: center;
  justify-content: center;
}
.embla__button:disabled {
  color: var(--detail-high-contrast);
}
.embla__button__svg {
  width: 35%;
  height: 35%;
}
.embla__dots,
.embla__thumbnails {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  /* width: 100%; */
}
.embla__thumbnails {
  gap: 8px;
  flex-wrap: nowrap;
  overflow-x: auto;
  justify-content: flex-start;
}
.embla__thumbnails_item {
  width: 60px;
  height: 60px;
  border-radius: 8px;
  overflow: hidden;
  flex-shrink: 0;
  opacity: 50%;
}
.embla__thumbnails_item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.embla__thumbnails_item--selected {
  opacity: 1;
}
.embla__dot {
  -webkit-tap-highlight-color: rgba(var(--text-high-contrast-rgb-value), 0.5);
  -webkit-appearance: none;
  appearance: none;
  background-color: transparent;
  touch-action: manipulation;
  display: inline-flex;
  text-decoration: none;
  cursor: pointer;
  border: 0;
  padding: 0;
  margin: 0;
  flex: 1;
  /* max-width: 32px;
  min-width: 18px; */
  height: 36px;
  padding: 0 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}
.embla__dot:after {
  box-shadow: inset 0 0 0 2px #c2c2c2;
  background-color: #c2c2c2;
  width: 6px;
  height: 6px;
  border-radius: 8px;
  display: flex;
  align-items: center;
  opacity: 0.2;
  content: '';
}
.embla__dot--selected:after {
  width: 16px;
  box-shadow: inset 0 0 0 2px #c2c2c2;
  background-color: #c2c2c2;
  opacity: 1;
}

.embla__thumbnails_desc {
  position: absolute;
  bottom: 0;
  left: var(--slide-spacing);
  right: 0;
  background: linear-gradient(
    180deg,
    rgba(0, 0, 0, 0) 0%,
    rgba(0, 0, 0, 0.6) 100%
  );
  padding: 12px 12px 8px;
  color: #fff;
  font-family: PingFang SC;
  font-weight: 600;
  font-size: 15px;
  line-height: 22px;
  border-radius: 0 0 8px 8px;
}
