:root {
  --safe-area-inset-bottom: 0px;
  --font-semibold: 600;
  --dvh-height: 100vh; /* 默认值，会在客户端根据设备类型动态设置 */

  @supports (height: env(safe-area-inset-bottom)) {
    --safe-area-inset-bottom: env(safe-area-inset-bottom);
  }

  @supports (height: constant(safe-area-inset-bottom)) {
    --safe-area-inset-bottom: constant(safe-area-inset-bottom);
  }

  @supports (height: env(safe-area-inset-top)) {
    --safe-area-inset-top: env(safe-area-inset-top);
  }

  @supports (height: constant(safe-area-inset-top)) {
    --safe-area-inset-top: constant(safe-area-inset-top);
  }
  @supports not (font-weight: '600') {
    --font-semibold: bold;
  }
}

body {
  /* background-color: #eee; */
  padding: 0;
  margin: 0;
  font-family:
    -apple-system,
    BlinkMacSystemFont,
    Segoe UI,
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    Fira Sans,
    Droid Sans,
    Helvetica Neue,
    sans-serif;
  -webkit-text-size-adjust: 100% !important;
  text-size-adjust: 100% !important;
  overscroll-behavior-y: none;
}
body::-webkit-scrollbar {
  display: none;
  height: 0 !important;
  scrollbar-width: none;
  -ms-overflow-style: none;
}
body *::-webkit-scrollbar {
  display: none;
  height: 0 !important;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

body,
html,
main {
  overscroll-behavior: none; /* 禁用回弹 */
  -webkit-overflow-scrolling: auto;
  height: 100%;
  width: 100%;
  -webkit-user-select: none;
  user-select: none;
}

.douyin-main {
  padding-top: 32px;
  height: calc(100dvh - 32px) !important;
  height: calc(100vh - 32px) !important;
}
.douyin-main .h-dvh {
  padding-top: 32px;
  height: calc(100dvh - 32px) !important;
  height: calc(100vh - 32px) !important;
}
.douyin-main .h-vh {
  padding-top: 32px;
  height: calc(100dvh - 32px) !important;
  height: calc(100vh - 32px) !important;
}

.captcha4_captcha {
  pointer-events: auto !important;
  z-index: 99999999;
}

.dialog-type-container {
  pointer-events: auto !important;
  z-index: 99999999;
}

button,
button:focus {
  outline: none !important;
}

pre {
  white-space: pre-wrap;
  word-break: break-all;
  overflow-wrap: break-word;
  user-select: auto !important;
  -webkit-user-select: auto;
  -moz-user-select: auto;
  -ms-user-select: auto;
  -webkit-overflow-scrolling: touch;
  -webkit-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  text-size-adjust: 100%;
}

input,
textarea,
select,
table,
th,
td,
pre,
[contenteditable='true'] {
  user-select: text !important;
  -webkit-user-select: text !important;
  -moz-user-select: text !important;
  -ms-user-select: text !important;
}

@keyframes fadeInDown {
  from {
    opacity: 0;
    transform: translateX(-50%) translateY(-8px);
  }
  to {
    opacity: 1;
    transform: translateX(-50%) translateY(0);
  }
}

@keyframes fadeInRight {
  from {
    opacity: 0;
    transform: translateY(-50%) translateX(-8px);
  }
  to {
    opacity: 1;
    transform: translateY(-50%) translateX(0);
  }
}
