.main {
  width: 100%;

  @media (min-width: 768px) {
    width: 220px;
  }

  .menuWrapper {
    padding: 8px;
    display: flex;
    flex-direction: row;
    column-gap: 8px;
    overflow-x: auto;

    @media (min-width: 768px) {
      flex-direction: column;
      row-gap: 4px;
      overflow-x: visible;
    }
  }

  .menuItem {
    width: auto;
    min-width: 100px;
    padding: 12px 16px;
    border-radius: 4px;
    white-space: nowrap;
    flex-shrink: 0;

    color: rgba(0, 0, 0, 1);
    font-size: 14px;
    font-weight: 400;
    line-height: 22px;
    cursor: pointer;

    display: flex;
    column-gap: 8px;
    align-items: center;
    justify-content: center;

    @media (min-width: 768px) {
      width: 100%;
      min-width: auto;
      padding: 9px 12px;
      border-radius: 2px;
      justify-content: flex-start;
      column-gap: 16px;
    }

    &:hover {
      background-color: rgba(250, 250, 250, 1);
    }

    &.active {
      background-color: rgba(250, 250, 250, 1);
      color: rgba(21, 94, 239, 1);
    }
  }
}
