.top {
  background: url('https://img2.maka.im/cdn/webstore7/assets/payment/popup_bg_1.png?v=1');
  background-repeat: no-repeat;
  background-size: 100%;
  overflow-y: auto;
  max-height: 95vh;
  display: flex;
  flex-direction: column;
  border-radius: 8px 8px 0 0;

  .header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 16px;
    padding: 16px 16px 0;

    .tit {
      font-size: 20px;
      font-weight: var(--font-semibold);
      line-height: 24px;
      color: rgba(0, 0, 0, 0.88);
    }

    .red {
      color: #f5222d;
    }
  }

  .title {
    color: rgba(1, 7, 13, 0.8);
    font-size: 16px;
    font-weight: var(--font-semibold);
    line-height: 24px;
  }

  .more {
    display: flex;
    align-items: center;
    color: rgba(1, 7, 13, 0.4);
    font-size: 12px;
    font-weight: 400;
    line-height: 20px;
  }

  .vipRights {
    overflow-x: auto;
    margin-top: 10px;
    margin-bottom: 4px;
    display: flex;
    gap: 12px;

    .rightItem {
      display: flex;
      align-items: center;
      overflow: hidden;
      margin-bottom: 8px;

      span {
        white-space: nowrap;
        margin-left: 4px;
        font-size: 12px;
        font-weight: 400;
        line-height: 20px;
        color: rgba(0, 0, 0, 0.6);
      }
    }
  }

  .tabWrap {
    background-image: url('https://img2.maka.im/cdn/webstore7/assets/payment/vip_tab_v2_1.png');
    background-size: 100%;

    background-repeat: no-repeat;

    &.single {
      background: #fff !important;
      border-radius: 12px 12px 0 0;

      .tabItem {
        color: #6b2c08;
      }
    }
  }

  .tabs {
    display: flex;
    align-items: center;
    height: 44px;
    color: rgba(0, 0, 0, 0.6);

    .tabItem {
      flex: 1;
      text-align: center;
      font-size: 16px;
      font-weight: var(--font-semibold);
      line-height: 24px;

      &.active {
        color: #6b2c08;
      }

      &:first-child {
        &.active {
          color: #1a87ff;
        }
      }
    }
  }

  &.super {
    background-image: url('https://img2.maka.im/cdn/webstore7/assets/payment/popup_bg_2.png?v=1');

    .tabWrap {
      background-image: url('https://img2.maka.im/cdn/webstore7/assets/payment/vip_tab_v2_2.png');
    }
  }

  &.company {
    background-image: url('https://img2.maka.im/cdn/webstore7/assets/payment/popup_bg_3.png?v=1');

    .header {
      .tit {
        color: #fcf1eb;

        span {
          color: #f1966a;
        }
      }

      iconpark-icon[name='left'] {
        color: #fff !important;
      }
    }

    .title {
      color: #fcf1eb;
    }

    .more {
      color: rgba(243, 241, 255, 0.6);
    }

    .vipRights {
      .rightItem {
        span {
          color: #ffd0b4;
        }

        iconpark-icon {
          color: #faad14 !important;
        }
      }
    }

    .tabWrap {
      background-image: url('https://img2.maka.im/cdn/webstore7/assets/payment/vip_tab_v2_3.png');
    }

    .tabs {
      color: rgba(243, 241, 255, 0.6);
    }
  }
}

.main {
  flex: 1;
  padding: 16px 16px 100px;
  // background-color: #fff;
  overflow-y: auto;
  background-color: #fff;

  .title {
    color: rgba(1, 7, 13, 0.8);
    font-size: 16px;
    font-weight: var(--font-semibold);
    line-height: 24px;
  }

  .vipType {
    display: flex;
    align-items: center;
    overflow-x: auto;
    overflow-y: hidden;
    gap: 8px;

    .typeItem {
      flex-shrink: 0;
      // min-width: 108px;
      padding: 4px 8px;
      border-radius: 8px;
      border: 2px solid #0000000f;
      color: #000;
      text-align: center;
      font-size: 14px;
      font-weight: 400;
      line-height: 22px;

      .desc {
        margin-top: 2px;
        font-size: 12px;
        font-weight: 400;
        line-height: 20px;
        color: rgba(0, 0, 0, 0.6);
      }

      &.active {
        font-weight: var(--font-semibold);
        border-color: #1a87ff;
      }
    }
  }

  .packages {
    padding-top: 16px;
    display: flex;
    align-items: flex-start;
    gap: 8px;
    overflow-x: auto;

    .packageItem {
      flex-shrink: 0;
      position: relative;
      display: flex;
      flex-direction: column;
      align-items: center;
      width: calc((100% - 16px) / 3);
      height: 140px;
      padding-top: 24px;
      border-radius: 8px;
      border: 2px solid rgba(0, 0, 0, 0.06);

      .corner {
        position: absolute;
        top: -10px;
        left: -2px;
        padding: 0 6px;
        height: 20px;
        font-size: 12px;
        font-weight: var(--font-semibold);
        line-height: 20px;
        color: #fff;
        text-align: center;
        border-radius: 8px 0px;
        background-color: #f22d30;
      }

      .name {
        color: #000;
        font-size: 18px;
        font-weight: var(--font-semibold);
        line-height: 26px;
      }

      .price {
        color: rgba(0, 0, 0, 0.88);
        font-size: 12px;
        font-weight: var(--font-semibold);
        line-height: 36px;

        .num {
          font-size: 28px;
        }
      }

      .original {
        color: rgba(1, 7, 13, 0.4);
        font-size: 12px;
        font-weight: 400;
        line-height: 16px;
        text-decoration: line-through;
      }

      .tip {
        position: absolute;
        left: -1px;
        right: 0;
        bottom: -1px;
        padding-top: 2px;
        color: rgba(0, 0, 0, 0.25);
        text-align: center;
        font-size: 12px;
        font-weight: 400;
        line-height: 20px;
        border-radius: 0px 0px 4px 4px;
        background: rgba(0, 0, 0, 0.06);
      }

      &.active {
        border-color: #1a87ff;

        .tip {
          color: #fff;
          background: #1a87ff;
        }
      }
    }
  }

  .coupon {
    margin: 16px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 4px;
    border: 1px solid #ffccc7;
    background: #fff2ea;
    padding: 6px 8px;
    color: #ff4d4f;
    font-size: 12px;
    font-weight: var(--font-semibold);
    line-height: 20px;

    .name {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    .price {
      flex-shrink: 0;
      font-size: 16px;
      margin-left: 4px;
    }
  }

  .payType {
    margin: 16px 0;

    .payTypeItem {
      padding: 6px 0;
      display: flex;
      justify-content: space-between;

      .name {
        display: flex;
        align-items: center;
        color: #000;
        font-size: 14px;
        font-weight: 400;
        line-height: 22px;

        img {
          width: 28px;
          height: 28px;
          margin-right: 8px;
        }
      }
    }
  }

  .footer {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 8px 16px;
    z-index: 1;
    background-color: #fff;

    .activity {
      position: absolute;
      top: -24px;
      left: 0;
      right: 0;
      display: flex;
      // align-items: center;
      justify-content: space-between;
      height: 24px;
      padding: 4px 16px;
      background: #fff0f0;
      color: #ff3633;
      font-size: 11px;
      font-weight: 400;
      line-height: 16px;

      .time {
        padding: 0 2px;
        height: 12px;
        font-size: 9px;
        line-height: 12px;
        border-radius: 2px;
        background: #fff;
      }

      .split {
        margin: 0 2px;
        color: rgba(1, 7, 13, 0.6);
        font-size: 9px;
        font-weight: 400;
        line-height: 16px;
      }
    }

    .btn {
      flex: 1;
      display: flex;
      align-items: center;
      justify-content: center;
      height: 40px;
      border-radius: 6px;
      border: 1px solid rgba(0, 0, 0, 0.06);
      background-color: #fff;
      line-height: 40px;

      &:nth-child(2) {
        margin-left: 8px;
      }

      &.vip {
        flex: 2;
        background: linear-gradient(135deg, #ffecc9 0%, #f3c97c 100%);
        box-shadow: 0px 6px 12px 0px rgba(246, 210, 142, 0.32);
        border: 0;
      }
    }

    .service {
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 12px;
      font-weight: 400;
      line-height: 20px;
      color: rgba(0, 0, 0, 0.45);
      padding-top: 8px;

      span {
        color: #1a87ff;
      }

      iconpark-icon {
        color: #1a87ff;
      }
    }
  }
}
