.image_group_editing_container {
  display: flex;
  flex-direction: column;
  height: 100%;

  .head {
    position: relative;
    height: 44px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 16px;
    flex-shrink: 0;

    .btn_back {
      position: absolute;
      left: 16px;
      display: flex;
      align-items: center;
      top: 0;
      bottom: 0;

      span {
        font-weight: 400;
        font-size: 14px;
        line-height: 22px;
        color: #000;
      }
    }

    .btn_finish {
      position: absolute;
      right: 16px;
      top: 6px;
    }

    .text {
      font-size: 16px;
      font-weight: 600;
      line-height: 24px;
      text-align: left;
      text-underline-position: from-font;
      text-decoration-skip-ink: none;
      color: #000;
    }
  }

  .footer {
    flex-shrink: 0;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 16px;
    border-top: 1px solid #0000000f;
    gap: 8px;
  }

  .picturePanel {
    flex: 1;
    padding: 16px;
    height: 100%;
    overflow-y: auto;
    background-color: #f5f5f5;

    .scroll_list {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      gap: 4px;
    }

    .item {
      position: relative;
      width: 100%;
      aspect-ratio: 1;
      cursor: pointer;
      background-color: #e0e0e0;
      overflow: hidden;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }

      .selected {
        position: absolute;
        bottom: 0;
        left: 4px;
        font-weight: 400;
        font-size: 12px;
        line-height: 22px;
        color: #fff;
        text-shadow: 1px 1px 1px #00000099;
      }
    }

    .upload {
      width: 100%;
      aspect-ratio: 1;
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 4px;
      justify-content: center;
      color: rgba(0, 0, 0, 0.45);
      border: 1px dashed rgba(0, 0, 0, 0.06);
      background-color: #fff;
      border-radius: 4px;
      font-size: 14px;
      cursor: pointer;
    }

    .uploadInput {
      position: absolute;
      top: -99999px;
      visibility: hidden;
    }
  }

  .selectedPictures {
    background-color: #fff;
    padding: 12px 16px;
    height: 148px;

    .tit {
      font-size: 14px;
      font-weight: 600;
      line-height: 22px;
      color: rgba(0, 0, 0, 0.88);

      span {
        font-weight: 400;
      }

      .num {
        font-weight: 600;
        color: var(--theme-color);
        margin: 0 4px;
      }
    }

    .pictureList {
      display: flex;
      overflow-x: auto;
      gap: 4px;
      padding: 12px 0;

      .item {
        position: relative;
        flex-shrink: 0;
        width: 60px;
        height: 60px;
        border: 1px solid #0000000f;
        border-radius: 6px;
        overflow: hidden;

        .delete {
          position: absolute;
          top: 4px;
          right: 4px;
          width: 16px;
          height: 16px;
          border-radius: 50%;
          background: #00000073;
          color: #fff;
          display: flex;
          align-items: center;
          justify-content: center;
          cursor: pointer;
        }

        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }
    }
  }

  .image_group_setting {
    display: flex;
    flex-direction: column;
    height: 100%;

    .editing_comp {
      flex: 1;
      background-color: #f5f5f5;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    .editing_setting {
      padding: 16px;
      background-color: #fff;
    }

    .styleTab {
      flex-shrink: 0;
      display: flex;
      align-items: center;
      gap: 16px;
      margin-bottom: 12px;
      padding-bottom: 4px;

      .tabItem {
        font-size: 16px;
        font-weight: 400;
        line-height: 24px;
        text-align: center;
        color: rgba(0, 0, 0, 0.45);
        cursor: pointer;

        &.active {
          font-weight: 600;
          color: #cf1322;
          pointer-events: none;
        }
      }
    }

    .carouselStyles {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 8px;

      .carouselStylesItem {
        display: flex;
        flex-direction: column;
        align-items: center;

        .preview {
          width: 100%;
          height: auto;
          object-fit: contain;
          border-radius: 4px;
          cursor: pointer;
          border: 2px solid transparent;
        }

        .name {
          margin-top: 4px;
          font-weight: 400;
          font-size: 12px;
          line-height: 20px;
          letter-spacing: 0px;
          text-align: center;
          color: rgba(0, 0, 0, 0.45);
        }

        &.active {
          .preview {
            border: 2px solid #cf1322;
          }

          .name {
            color: #cf1322;
          }
        }
      }
    }

    .pictureList {
      display: flex;
      overflow-x: auto;
      gap: 4px;
      padding: 12px 0;

      .item {
        position: relative;
        flex-shrink: 0;
        width: 60px;
        height: 60px;
        border: 1px solid #0000000f;
        border-radius: 6px;
        overflow: hidden;
        cursor: pointer;

        .delete {
          position: absolute;
          top: 4px;
          right: 4px;
          width: 16px;
          height: 16px;
          border-radius: 50%;
          background: #00000073;
          color: #fff;
          display: flex;
          align-items: center;
          justify-content: center;
          cursor: pointer;
        }

        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }
    }

    .autoLoop {
      display: flex;
      align-items: center;
      justify-content: center;
      margin-top: 12px;
      gap: 8px;

      button[data-state='checked'] {
        background-color: #cf1322 !important;
      }
    }

    .pictureList_title {
      display: flex;
      align-items: center;
      justify-content: space-between;

      .btn_add {
        display: flex;
        align-items: center;
        color: #cf1322;
        font-weight: 400;
        font-size: 14px;
        line-height: 22px;
        cursor: pointer;
      }
    }

    .label {
      font-weight: 400;
      font-size: 14px;
      line-height: 22px;
      letter-spacing: 0px;
      color: rgba(0, 0, 0, 0.6);
    }

    .type {
      display: flex;
      align-items: center;
      gap: 8px;
      margin-top: 8px;
      margin-bottom: 16px;

      .typeItem {
        width: 70px;
        height: 34px;
        background-color: #f5f5f5;
        border-radius: 6px;
        font-weight: 400;
        font-size: 14px;
        line-height: 34px;
        color: rgba(0, 0, 0, 0.88);
        text-align: center;
        cursor: pointer;

        &.active {
          background-color: #fff1f0;
          color: #cf1322;
          pointer-events: none;
        }
      }
    }
  }
}

@media (min-width: 768px) {
  .image_group_editing_container {
    .image_group_setting {
      display: flex;
      flex-direction: row;

      .styleTab {
        border-bottom: 1px solid #0000000f;
        margin: -8px -16px 12px;
        padding: 0 16px 8px;
      }

      .editing_setting {
        width: 300px;
      }

      .autoLoop {
        justify-content: flex-start;
      }
    }

    .picturePanel {
      .scroll_list {
        display: grid;
        grid-template-columns: repeat(8, 1fr);
        gap: 4px;
      }

      .item {
        .selected {
          font-size: 14px;
        }
      }
    }
  }
}
