.libContent {
  // flex-shrink: 0;
  width: 300px;
  max-width: 300px;
  min-width: 200px;
  border: 1px solid #0000000f;
  border-radius: 12px;
  background-color: #fff;
  display: flex;
  flex-direction: column;

  .tabs {
    display: flex;
    gap: 8px;
    padding: 8px 12px;
    border-bottom: 1px solid #0000000f;

    .tabItem {
      width: 48px;
      height: 24px;
      font-size: 16px;
      font-weight: 400;
      line-height: 24px;
      color: rgba(0, 0, 0, 0.6);
      text-align: center;
      cursor: pointer;

      &.active {
        font-size: 16px;
        color: #000;
        font-weight: 600;
      }
    }
  }
}

.template {
  flex: 1;
  overflow-y: auto;
  padding-left: 16px;
  padding-right: 16px;
  padding-bottom: 12px;

  .searchInput {
    position: relative;
    flex: 1;
    display: flex;
    align-items: center;
    border: 1px solid #0000000f;
    padding: 4px 12px;
    border-radius: 8px;

    input {
      flex: 1;
      border: none;
      outline: none;
      font-size: 14px;
      margin-left: 4px;
    }

    .clear {
      position: absolute;
      right: 8px;
      top: 50%;
      transform: translateY(-50%);
      color: rgba(0, 0, 0, 0.45) !important;
    }
  }

  .empty {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    text-align: center;
    padding: 80px 0;

    img {
      width: 100px;
    }

    & > span {
      font-size: 14px;
      color: rgba(0, 0, 0, 0.6);
    }
  }

  .floors {
    position: sticky;
    // top: 43px;
    display: flex;
    gap: 8px;
    // margin-bottom: 12px;
    z-index: 9;
    padding: 12px 0;
    background-color: #fff;

    .floorItem {
      flex-shrink: 0;
      padding: 3px 5px;
      background-color: #f5f5f5;
      border-radius: 8px;
      border: 1px solid #f5f5f5;
      cursor: pointer;

      font-size: 12px;
      font-weight: 400;
      line-height: 20px;
      color: rgba(0, 0, 0, 0.6);

      &.active {
        color: var(--theme-color);
        background-color: var(--theme-background-color);
        border-color: var(--theme-color);
        font-weight: 600;
      }

      &:hover {
        color: var(--theme-color);
        background-color: var(--theme-background-color);
      }
    }
  }

  .materialList {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 8px;
  }

  .templateItem {
    position: relative;
    aspect-ratio: 1;
    border-radius: 4px;
    overflow: hidden;
    border: 1px solid #0000000f;
    cursor: pointer;

    &.active {
      border: 2px solid #cf1322;
      padding: 4px;
    }

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    .name {
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      height: 22px;
      background-color: rgba(0, 0, 0, 0.45);
      color: #fff;
      text-align: center;
      //styleName: 常规/12px;
      font-family: PingFang SC;
      font-size: 12px;
      font-weight: 400;
      line-height: 20px;
    }
  }

  .borderItem {
    height: 40px;
    background-color: #f5f5f5;
    border-radius: 4px;
    cursor: pointer;
    border: 2px solid #f5f5f5;

    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }

    &.active {
      border: 2px solid #cf1322;
    }
  }

  .loading {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 16px;
  }
}

.headCard {
  padding: 12px 16px;

  .title {
    color: #00000099;
    margin-bottom: 8px;
    font-size: 13px;
  }

  .radioButton {
    display: flex;
    align-items: center;
    margin-bottom: 16px;

    .radioButtonItem {
      flex: 1;
      padding: 8px 0;
      font-size: 12px;
      line-height: 16px;
      text-align: center;
      color: #151515;
      overflow: hidden;
      cursor: pointer;
      border: 1px solid #e6e6e6;
      white-space: nowrap;

      &:first-child {
        border-radius: 6px 0 0 6px;
      }

      &:last-child {
        border-radius: 0 6px 6px 0;
      }

      &.active {
        border-color: var(--theme-color);
        color: var(--theme-color);
      }
    }
  }
}
