.themeTemplateContainer {
  flex: 1;
  overflow-y: auto;
  padding: 8px;
  padding-top: 0;
  height: 400px;
  position: relative;
  .floors {
    position: sticky;
    top: 0;
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
    margin-bottom: 12px;
    z-index: 1;
    background-color: #fff;
    .floorItem {
      padding: 3px 8px;
      background-color: #f5f5f5;
      border-radius: 8px;
      border: 1px solid #f5f5f5;
      cursor: pointer;

      font-size: 12px;
      font-weight: 400;
      line-height: 20px;
      color: rgba(0, 0, 0, 0.6);

      &.active {
        color: var(--theme-color);
        background-color: var(--theme-background-color);
        border-color: var(--theme-color);
      }
      &:hover {
        color: var(--theme-color);
        background-color: var(--theme-background-color);
      }
    }
  }
  .materialList {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 8px;
  }

  .templateItem {
    position: relative;
    aspect-ratio: 1;
    border-radius: 4px;
    overflow: hidden;
    border: 1px solid #0000000f;
    cursor: pointer;
    &.active {
      border: 2px solid #cf1322;
    }
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
    .name {
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      height: 22px;
      background-color: rgba(0, 0, 0, 0.45);
      color: #fff;
      text-align: center;
      //styleName: 常规/12px;
      font-family: PingFang SC;
      font-size: 12px;
      font-weight: 400;
      line-height: 20px;
    }
  }
  .borderItem {
    height: 40px;
    background-color: #f5f5f5;
    border-radius: 4px;
    cursor: pointer;
    border: 2px solid #f5f5f5;
    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }

    &.active {
      border: 2px solid #cf1322;
    }
  }
  .loading {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 16px;
  }
}
