.loading {
  width: 100%;
  padding: 16px 0;

  .loadingCircle {
    margin: auto;
    position: relative;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;

    .circle {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      animation: rotate 0.8s linear infinite;
    }
  }
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.waterfall {
  display: flex;
  // justify-content: space-between;
  justify-content: center;
  gap: 8px;
  transition: opacity 0.3s ease;
}
