.main {
  padding: 8px 12px;
  background-color: rgba(239, 248, 255, 1);
  border-radius: 4px;
  display: flex;
  column-gap: 4px;
  color: rgba(0, 0, 0, 0.6);
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  margin-bottom: 24px;

  .info {
    margin-top: 3px;
  }
}
