.templateFloor {
  padding: 0 12px 20px;
  background-color: #fff;

  .floorTitle {
    font-family: PingFang SC;
    font-weight: var(--font-semibold);
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0px;
    text-align: left;
    color: rgba(0, 0, 0, 0.88);
    flex: 1;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .floorTags {
    display: flex;
    align-items: center;
    overflow-x: auto;
    gap: 8px;
    margin-bottom: 8px;

    .tag {
      flex-shrink: 0;
      padding: 5px 11px;
      border: 1px solid #f1f5f9;
      border-radius: 100px;
      font-weight: var(--font-semibold);
      font-size: 14px;
      line-height: 20px;
      color: #020617;
      background-color: #f1f5f9;

      &.active {
        background-color: var(--theme-background-color);
        color: var(--theme-text-color);
        border-color: var(--theme-color);
      }
    }
  }

  .templateList {
    position: relative;
    min-height: 100px;

    .scrollList {
      display: grid;
      gap: 8px;
    }

    .loading {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      display: flex;
      align-content: center;
      justify-content: center;
      background-color: rgba(255, 255, 255, 0.5);
      padding: 16px;
      z-index: 1;
    }
  }

  .more {
    font-family: PingFang SC;
    font-weight: var(--font-semibold);
    font-style: Semibold;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0px;
    vertical-align: middle;
    display: flex;
    align-items: center;
  }

  .moreBottom {
    margin-top: 8px;
    height: 34px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #020617;
    cursor: pointer;
    background-color: #f1f5f9;
    border-radius: 6px;
    font-size: 14px;
    font-weight: var(--font-semibold);
  }

  &.maka {
    padding: 0 12px 20px;

    .floorTags {
      .tag {
        flex-shrink: 0;
        padding: 4px 8px;
        border-radius: 100px;
        font-weight: var(--font-semibold);
        font-size: 14px;
        line-height: 20px;
        color: rgba(0, 0, 0, 0.88);
        background-color: #fff;
        border: 1px solid #0000000f;
      }
    }
  }
}
