.searchContainer {
  display: flex;
  flex-direction: column;
  // padding: 0 16px;
  overflow: hidden;
  height: 100vh;
  background-color: #fff;

  .searchInput {
    width: 100%;
    max-width: 100%;

    display: flex;
    align-items: center;
    padding: 16px;
    overflow: hidden;
    gap: 8px;

    iconpark-icon {
      color: rgba(1, 7, 13, 0.8);
    }
  }

  .searchWord {
    padding: 0 16px;
  }

  .history {
    .title {
      padding: 0 8px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      color: rgba(0, 0, 0, 0.88);
      font-size: 16px;
      font-weight: 400;
      line-height: 24px;
      margin-bottom: 12px;
    }

    .historyWrap {
      width: 100%;
      flex-wrap: wrap;
      display: flex;
      padding: 0 8px;

      .historyItem {
        font-weight: 400;
        font-size: 14px;
        line-height: 22px;
        padding: 2px 12px;
        color: rgba(0, 0, 0, 0.6);
        margin-right: 10px;
        background-color: #f5f5f5;
        border-radius: 20px;
        margin-bottom: 12px;
      }
    }
  }

  .suggestions {
    padding: 12px 16px 12px;

    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;

    .suggestionItem {
      flex-shrink: 0;
      padding: 6px 8px;
      color: rgba(0, 0, 0, 0.88);
      margin-right: 8px;
      font-weight: 400;
      font-size: 14px;
      line-height: 22px;
      background-color: #fafafa;
      border-radius: 4px;

      &.active {
        background-color: #e6f4ff;
        color: #1a87ff;
      }
    }
  }

  .scrollContainer {
    flex: 1;
    height: 0;
    overflow-x: hidden;
    overflow-y: auto;
    padding: 0 16px;
  }

  .empty {
    width: 100%;
    text-align: center;
    padding: 32px 0;

    img {
      margin: auto;
    }

    & > span {
      font-size: 12px;
      color: #7d7e80;
    }
  }
}
