.main {
  :global(.ant-radio-checked .ant-radio-inner:after) {
    all: unset;
    display: block;
    content: '';
    border-bottom: 1px solid white;
    border-right: 1px solid white;
    width: 2px;
    height: 5px;
    transform-origin: center;
    font-size: 12px;
    color: white; /* 勾号的颜色 */
    position: absolute;
    background-color: transparent;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1.7) rotate(45deg);
  }
}
