.container {
  height: 100%;
  overflow-y: auto;
  background-color: #fff;
}

.menus {
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 8px 16px;

  .menuItem {
    flex: 1;
    background-color: #f5f5f5;
    padding: 4px 12px;
    border-radius: 4px;
    color: #09090b;
    text-align: center;
    font-size: 14px;
    font-weight: var(--font-semibold);

    &.active {
      background-color: var(--theme-color);
      color: #fff;
    }
  }
}

.tabs {
  display: flex;
  align-items: center;
  gap: 24px;
  overflow-x: auto;
  padding: 8px 16px 0;

  .tabItem {
    flex-shrink: 0;
    position: relative;
    height: 24px;
    padding-bottom: 4px;
    font-family: PingFang SC;
    font-size: 14px;
    line-height: 20px;
    text-align: center;
    color: #09090b;
    border-radius: 4px;

    &.active {
      color: #09090b;
      color: var(--theme-color);
      font-weight: var(--font-semibold);

      pointer-events: none;

      &::after {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 2px;
        background-color: var(--theme-color);
      }
    }
  }
}

.templateList {
  padding: 8px 16px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 8px;

  .template {
    border-radius: 4px;
    aspect-ratio: 9/16;
    overflow: hidden;
    background-color: #f5f5f5;

    .thumb {
      width: 100%;
      height: 100%;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
  }
}

.worksEmpty {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  img {
    width: 123px;
    height: 118px;
  }

  span {
    font-size: 14px;
    line-height: 32px;
    color: rgba(0, 0, 0, 0.6);
  }
}
