.main {
  height: 100%;
  display: flex;
  flex-direction: column;

  .tabsWrapper {
    box-shadow: 0px -1px 0px 0px rgba(0, 0, 0, 0.06) inset;
    display: flex;
    flex: 0 0 auto;
    padding: 0 12px;
    overflow-x: auto;

    @media (min-width: 768px) {
      padding: 0;
      overflow-x: visible;
    }

    .tabItem {
      padding: 12px 0px;
      font-size: 14px;
      line-height: 24px;
      color: rgba(0, 0, 0, 0.88);
      cursor: pointer;
      white-space: nowrap;
      flex-shrink: 0;

      &:not(:first-child) {
        margin-left: 16px;

        @media (min-width: 768px) {
          margin-left: 24px;
        }
      }

      &:hover {
        color: rgba(21, 94, 239, 1);
      }

      &.active {
        color: rgba(21, 94, 239, 1);
        box-shadow: 0px -2px 0px 0px rgba(21, 94, 239, 1) inset;
        font-weight: var(--font-semibold);
      }
    }
  }

  .contentWrapper {
    flex: 1;
    margin-top: 4px;
    padding: 12px 0;

    @media (min-width: 768px) {
      padding: 12px 0;
    }
  }
}
