.main {
  padding: 0 12px;
  height: 100%;
  display: flex;
  flex-direction: column;

  @media (min-width: 768px) {
    padding: 0 20px;
  }

  .primaryColor {
    color: rgba(21, 94, 239, 1);
    font-weight: var(--font-semibold);
  }

  .content {
    padding: 12px 0;
    margin-top: 4px;
    overflow-y: auto;
    flex: 1;

    @media (min-width: 768px) {
      padding: 16px 0;
    }

    .orderTips {
      margin-top: 12px;
      padding: 8px 12px;
      border-radius: 4px;
      background-color: rgba(239, 248, 255, 1);
      font-size: 13px;
      font-weight: 400;
      line-height: 20px;
      color: rgba(0, 0, 0, 0.45);
      display: flex;
      column-gap: 8px;
      align-items: center;

      @media (min-width: 768px) {
        font-size: 14px;
        line-height: 22px;
      }
    }
  }
}
