.main {
  display: flow-root;

  .formItemsBlockTitle {
    font-size: 15px;
    font-weight: var(--font-semibold);
    line-height: 22px;
    color: rgba(0, 0, 0, 1);
    display: flex;
    align-items: center;
    margin-bottom: 16px;
    column-gap: 8px;
    flex-wrap: wrap;

    @media (min-width: 768px) {
      font-size: 16px;
      line-height: 24px;
      margin-bottom: 20px;
    }

    &::before {
      content: '';
      display: inline-block;
      width: 3px;
      height: 14px;
      background-color: rgba(21, 94, 239, 1);

      @media (min-width: 768px) {
        width: 4px;
        height: 16px;
      }
    }

    .desc {
      color: rgba(0, 0, 0, 0.45);
      font-size: 12px;
      font-weight: 400;
      line-height: 20px;
    }
  }

  :global(.ant-form-item-explain-error) {
    line-height: 20px;
  }
}
