.container {
  padding: 16px 30px 44px;
  background-color: #fff;

  .head {
    font-family: PingFang SC;
    font-weight: var(--font-semibold);
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0%;
    text-align: center;
    color: rgba(0, 0, 0, 0.88);
  }

  .title {
    text-align: left;
    font-weight: var(--font-semibold);
    font-size: 18px;
    line-height: 26px;
    color: #000;
  }

  .close {
    position: absolute;
    top: 20px;
    right: 20px;
  }

  .head {
    font-family: PingFang SC;
    font-weight: var(--font-semibold);
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0%;
    text-align: center;
    vertical-align: middle;
    color: rgba(0, 0, 0, 0.88);
    margin-bottom: 46px;
  }

  .input {
    width: 100%;
    display: flex;
    align-items: center;

    padding: 14px 20px;
    background-color: #f5f5f5;
    border-radius: 8px;
    margin-top: 12px;

    input {
      flex: 1;
      border: 0;
      outline: 0;
      height: 24px;
      line-height: 24px;
      font-size: 16px;
      color: #000;
      background-color: transparent;
    }

    .verifycode {
      flex-shrink: 0;
      white-space: nowrap;
      font-family: PingFang SC;
      font-weight: 400;
      font-size: 16px;
      line-height: 24px;
      letter-spacing: 0px;
      color: #000;
    }
  }
}
