.container {
  position: relative;
  height: 100vh;
  height: 100dvh;
  background-color: #000;
  display: flex;
  flex-direction: column;
  overflow: hidden;

  .cropperContent {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow-y: hidden;
  }

  .uploadLoading {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 10;
    background: rgba(0, 0, 0, 0.45);
    display: flex;
    align-items: center;
    justify-content: center;

    iconpark-icon {
      color: rgba(255, 255, 255, 0.8) !important;
    }
  }
}
