.example {
  position: relative;
  padding: 12px;
  background: #fff;
  border: 1px solid #d3fde5;
  background-color: #ecfdf2;
  border-radius: 8px;
  box-shadow: 0px 4px 6px -4px #0000001a;

  box-shadow: 0px 10px 15px -3px #0000001a;

  .close {
    position: absolute;
    top: 8px;
    right: 8px;
    color: #2a7e3b;
  }

  .tit {
    font-family: PingFang SC;
    font-weight: var(--font-semibold);
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0px;
    color: #008a2e;
  }

  .desc {
    margin: 2px 0 10px;
    font-family: PingFang SC;
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
    letter-spacing: 0px;
    color: #008a2e;
  }

  .exampleItem {
    width: 140px;
    border: 1px solid #e4e4e7;
    border-radius: 6px;
    background-color: #f4f4f5;

    .label {
      font-family: PingFang SC;
      font-weight: var(--font-semibold);
      font-size: 16px;
      line-height: 24px;
      letter-spacing: 0px;
      text-align: center;
      vertical-align: middle;
      color: #09090b;
    }
  }

  .exampleItem2 {
    width: 140px;
    border: 2px solid #ff4667;
    border-radius: 6px;
    background-color: #ff4667;
    overflow: hidden;

    .label {
      font-family: PingFang SC;
      font-weight: var(--font-semibold);
      font-size: 16px;
      line-height: 24px;
      letter-spacing: 0px;
      text-align: center;
      vertical-align: middle;
      color: #fff;
    }
  }
}

.content {
  border: 1px solid #e4e4e7;
  border-radius: 8px;
  padding: 12px 16px;

  .title {
    font-family: PingFang SC;
    font-weight: var(--font-semibold);
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0px;
    color: #09090b;
  }

  .fieldItem {
    padding: 12px 0;

    .label {
      font-family: PingFang SC;
      font-weight: var(--font-semibold);
      font-size: 14px;
      line-height: 20px;
      letter-spacing: 0px;
      color: #09090b;
      margin-bottom: 10px;
    }

    .picture {
      position: relative;
      border: 1px solid #e4e4e7;
      width: 88px;
      height: 88px;
      border-radius: 6px;

      img {
        width: 100%;
        height: 100%;
        object-fit: contain;
      }

      .delete {
        position: absolute;
        top: 8px;
        right: 8px;
        width: 24px;
        height: 24px;
        background-color: rgba(0, 0, 0, 0.6);
        display: flex;
        align-items: center;
        justify-content: center;
        z-index: 1;
        color: #fff !important;
        border-radius: 50%;
      }
    }

    .upload_btn {
      border: 1px dashed #e4e4e7;
      width: 88px;
      height: 88px;
      border-radius: 6px;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;

      span {
        font-family: PingFang SC;
        font-weight: 400;
        font-style: Regular;
        font-size: 13px;
        line-height: 20px;
        letter-spacing: 0px;
        text-align: center;
        color: #71717a;
      }
    }

    .input {
      position: relative;
      border: 1px solid #e4e4e7;
      border-radius: 6px;
      background-color: #fff;
      height: 40px;
      width: 100%;

      input {
        width: 100%;
        height: 100%;
        outline: none;
        border: none;
        padding: 8px 12px;
        background-color: transparent;
        font-size: 14px;
      }
    }
  }

  .hiddenUpload {
    position: absolute;
    left: -999999px;
  }
}
