.title {
  padding: 12px 16px;
  font-weight: 600;
  font-size: 18px;
  line-height: 26px;
  color: #000000;
  gap: 8px;
  border-bottom: 1px solid #0000000f;
}

.close {
  position: absolute;
  top: 16px;
  right: 20px;
}

.desc {
  margin-top: 2px;
  font-weight: 400;
  font-size: 13px;
  line-height: 20px;
  letter-spacing: 0%;
  color: rgba(0, 0, 0, 0.6);
}

.content {
  padding: 12px 16px 12px;
  max-height: 80vh;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.card {
  border: 1px solid #0000001a;
  border-radius: 12px;
  padding: 12px;
}

.tit {
  display: flex;
  align-items: center;
  gap: 4px;
  font-family: PingFang SC;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  color: #09090b;
}

.subTitle {
  font-family: PingFang SC;
  font-weight: 600;
  font-style: Semibold;
  font-size: 12px;
  line-height: 18px;
  color: #0a0a0a;
  margin-bottom: 4px;
}

.textarea {
  height: 72px;
  resize: none;
  width: 100%;
  border: none;
  font-size: 12px;
  border-radius: 6px;
  padding: 8px 12px;
  outline: none;
  background-color: #f3f3f5;
}

.upload {
  position: relative;
  margin-top: 8px;
  border: 2px solid #0000001a;
  height: 105px;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 4px;

  img {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }

  .icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    background-color: #ececf0;
  }

  span {
    font-family: PingFang SC;
    font-weight: 600;
    font-size: 12px;
    line-height: 18px;
    text-align: center;
    color: #0a0a0a;
  }
}

.fields_list {
  display: flex;
  flex-direction: column;
  gap: 8px;

  .item {
    padding: 8px 4px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    border: 1px solid #e4e4e7;
    border-radius: 6px;
    gap: 8px;

    .item_content {
      width: 100%;
      display: flex;
      align-items: center;
      gap: 8px;
    }

    .item_label {
      display: flex;
      align-items: center;
      flex: 1;
      font-family: PingFang SC;
      font-weight: 600;
      font-size: 14px;
      line-height: 20px;
      color: #000;

      .required {
        color: #ff4d4f;
        margin-left: 2px;
      }
    }

    .item_desc {
      margin-left: 8px;
      font-weight: 400;
      font-size: 12px;
      line-height: 20px;
      color: rgba(0, 0, 0, 0.6);
    }

    .course_item {
      border: 1px solid #e4e4e7;
      background-color: #f4f4f5;
      border-radius: 4px;
      padding: 2px 8px;
      font-family: PingFang SC;
      font-weight: 600;
      font-size: 12px;
      line-height: 18px;
      letter-spacing: 0px;
      text-align: center;
      color: #09090b;
    }
  }
}

.add_field_btn {
  color: #3358d4 !important;
  height: 32px;
  font-weight: 600;

  &:hover {
    background-color: transparent;
  }
}

.fieldSetting {
  .fieldSettingTitle {
    font-family: PingFang SC;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    color: #09090b;
    text-align: center;
    padding: 12px 16px;
  }

  .fieldSettingItem {
    padding: 0 16px;
    margin-bottom: 20px;

    .fieldSettingItemTitle {
      font-family: PingFang SC;
      font-weight: 600;
      font-size: 14px;
      line-height: 20px;
      color: #09090b;
      margin-bottom: 6px;
    }
  }

  .fieldTypes {
    display: flex;
    align-items: center;
    gap: 8px;
    margin-bottom: 8px;

    .fieldTypeItem {
      position: relative;
      flex: 1;
      border: 1px solid #f4f4f5;
      background-color: #f4f4f5;
      border-radius: 6px;
      height: 38px;
      text-align: center;
      font-family: PingFang SC;
      font-weight: 400;
      font-size: 14px;
      line-height: 38px;
      color: #18181b;

      .selected {
        position: absolute;
        bottom: -1px;
        right: -1px;
      }

      &.active {
        font-weight: 600;
        color: var(--theme-color);
        border-color: var(--theme-color);
        background-color: var(--theme-background-color);
        pointer-events: none;
      }
    }
  }

  .options {
    padding: 12px;
    background-color: #fafafa;
    border-radius: 8px;

    textarea {
      padding: 8px 12px;
      width: 100%;
      border: 1px solid #0000000f;
      resize: none;
      background-color: #fff;
      border-radius: 8px;
      font-family: PingFang SC;
      font-weight: 400;
      font-size: 14px;
      line-height: 22px;
      color: rgba(0, 0, 0, 0.88);
    }

    .course_label {
      font-family: PingFang SC;
      font-weight: 400;
      font-size: 12px;
      line-height: 20px;
      color: #000;
      margin-bottom: 2px;
    }

    .course_item {
      border: 1px solid #e4e4e7;
      background-color: #f4f4f5;
      border-radius: 4px;
      padding: 2px 8px;
      font-family: PingFang SC;
      font-weight: 600;
      font-size: 12px;
      line-height: 18px;
      letter-spacing: 0px;
      text-align: center;
      color: #09090b;
    }
  }

  .fieldRequired {
    display: flex;
    align-items: center;
    gap: 4px;

    span {
      font-family: PingFang SC;
      font-weight: 400;
      font-size: 14px;
      line-height: 20px;
      color: rgba(0, 0, 0, 0.88);
    }
  }

  .fieldSettingFooter {
    width: 100%;
    padding: 16px;
    display: flex;
    align-items: center;
    gap: 8px;
    border-top: 1px solid #e4e4e7;
  }
}
