.wxAuthContainer {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  z-index: 999999;

  .content {
    background-color: #fff;
    border-radius: 8px 8px 0 0;
    position: relative;
    z-index: 1;
    padding: 16px;
    // zoom: calc(1 / var(--canvas-scale));
    transform-origin: 0 0;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
  }

  .primaryBtn {
    height: 48px;
    line-height: 48px;
    text-align: center;
    width: 100%;
    border-radius: 8px;
    background-color: #1a87ff;
    color: #fff;
    margin-bottom: 16px;
  }

  .title {
    margin-bottom: 24px;
    display: flex;
    align-items: flex-start;
  }

  .label {
    margin-left: 8px;
  }

  .flex {
    display: flex;
  }

  .normalBtn {
    height: 48px;
    line-height: 48px;
    text-align: center;
    width: 100%;
    border-radius: 8px;
    color: #1a87ff;
  }

  .borderBtn {
    height: 48px;
    line-height: 48px;
    text-align: center;
    width: 100%;
    border-radius: 8px;
    border: 1px solid #cdcdcf;
    margin-right: 8px;
  }

  .mask {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba($color: #000000, $alpha: 0.5);
  }
}
