.shareTypesWrap {
  background-color: transparent;
  overflow: hidden;
  margin-top: 0;
}

.title {
  display: flex;
  align-items: center;
  font-size: 16px;
  font-weight: var(--font-semibold);
  line-height: 24px;
  color: #09090b;
  margin-bottom: 12px;
  gap: 4px;
}

.input {
  height: 38px;
  font-size: 14px;
  border: 1px solid var(--theme-border-color);
  font-weight: var(--font-semibold);
  color: rgba(0, 0, 0, 0.88);
}

.shareTypes {
  display: flex;
  align-items: center;
  overflow-x: auto;
  gap: 8px;

  .shareItem {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 5px;
    min-width: 64px;
    cursor: pointer;

    .systemShare {
      width: 40px;
      height: 40px;
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: #f2f3f7;
      border-radius: 16px;
    }

    img {
      width: 40px;
      height: 40px;
    }

    span {
      margin-top: 4px;
      font-size: 13px;
      font-weight: var(--font-semibold);
      line-height: 20px;
      text-align: center;
      color: rgba(0, 0, 0, 0.88);
    }
  }
}

.shareOverlay {
  position: relative;
  width: 100%;
  height: 100vh;
  height: 100dvh;
  z-index: 11;

  .arrow {
    width: 150px;
    height: 150px;
    position: absolute;
    top: 0px;
    right: 80px;
  }

  .tip {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 56px;
    position: absolute;
    top: 168px;
    right: 30px;
    padding: 0 24px;
    background-color: var(--theme-color);
    border-radius: 100px;
    font-family: PingFang SC;
    font-weight: var(--font-semibold);
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0px;
    color: var(--btn-text-color);

    .icon {
      margin: 0 4px;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 24px;
      height: 24px;
      border-radius: 8px;
      background-color: #fff;
      color: #000;
    }
  }
}
